node_modules/
documents/
flip/
.vs/
.vscode/
random/
config.php
conn_mwt.php
database_calculations.php
mwtB_handler.php
*.json
polygonHandler.php
New*
*.pdf
better*
ricardo*
pm graphs/
index-dev-cm.php
index-dev-c.php



